// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"leafy": #A3966A,
	"mahogany": #340B00,
	"cinnamon": #90553C,
	"sandstone": #FFFEF2,
	"mesa": #E3CDBB
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...

.body {
	color: #E3CDBB;
}

.navbar {
	background: #340B00;
}

.navbar-brand {
	color: #FFFEF2;
	font-family: "Playfair Display", serif;
}

.btn {
	color: #FFFEF2;
}
