// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"leafy": #A3966A,
	"mahogany": #340B00,
	"cinnamon": #90553C,
	"sandstone": #FFFEF2,
	"mesa": #E3CDBB
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...

.body {
	color: #E3CDBB;
}

//header styling

.header-brand {
	color: #FFFEF2;
	font-family: "Playfair Display", serif;
}

// bemærk at navbar klassen er både headeren og footeren

.navbar {
	background: #340B00;
}


// footer / navigations menu styling

.custom-btn {
	background: none;
	border: none;
	color: #FFFEF2;
	font-family: "lato", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4px;
	width: 30px;
	flex-shrink: 0;
}

.navbar-container {
	display: flex;
	justify-content: space-around !important;
	align-items: center;
	gap: 5px;
	flex-wrap: wrap;
}

@media (max-width: 425px) { /* Mobile view */
	.custom-btn {
		width: 25px;
		font-size: 12px;
	}
	.navbar-container {
		justify-content: center;
		gap: 2px;
	}
}

@media (min-width: 769px) { /* Tablet and up */
	.navbar-container {
		justify-content: space-evenly;
		gap: 20px;
	}
}





